<fieldset class="border border-gray-600 rounded-lg p-8 max-w-5xl mx-auto mt-8">
  <legend class="px-3 text-xl font-semibold text-gray-200 bg-[#2C2A4A]">Contact Medium</legend>

  <form (submit)="onSubmit()" [formGroup]="contactMediumForm">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 gap-y-6">
      <div>
        <!-- YENİ: Etiketi ve radyo butonu sarmalayan div -->
        <div class="flex items-center mb-1">
          <input
            type="radio"
            formControlName="primaryContact"
            value="email"
            id="primary-email"
            class="h-4 w-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 cursor-pointer"
          />
          <label for="primary-email" class="block text-sm font-medium text-gray-400 ml-2 cursor-pointer"
            >Email *</label
          >
          <!-- YENİ: Birincil ise etiketi göster -->
          @if (contactMediumForm.get('primaryContact')?.value === 'email') {
          <span class="text-orange-500 font-bold ml-2 text-xs">[Primary]</span>
          }
        </div>

        <input
          type="email"
          formControlName="email"
          id="email"
          class="w-full bg-gray-200 text-gray-900 rounded-full px-5 py-3 border border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500"
        />
        @if (isFieldInvalid(contactMediumForm, 'email')) {
        <div class="text-red-500 text-sm mt-1 ml-4">
          @if (contactMediumForm.get('email')?.hasError('required')) {
          <small>Email is required.</small>
          } @if (contactMediumForm.get('email')?.hasError('email')) {
          <small>Please enter a valid email.</small>
          }
        </div>
        }
      </div>

      <div>
        <label for="home-phone" class="block text-sm font-medium text-gray-400 mb-1"
          >Home Phone</label
        >
        <div
          class="flex items-center w-full bg-gray-200 rounded-full border border-gray-400 focus-within:ring-2 focus-within:ring-blue-500 overflow-hidden"
        >
          <select
            id="homePhone-prefix"
            class="bg-gray-200 text-gray-900 pl-4 pr-2 py-3 appearance-none focus:outline-none"
          >
            <option>+90</option>
            <option>+44</option>
          </select>
          <span class="text-gray-500">|</span>
          <input
            type="tel"
            formControlName="homePhone"
            id="home-phone"
            class="w-full bg-gray-200 text-gray-900 px-4 py-3 border-none focus:outline-none"
          />
        </div>
        @if (isFieldInvalid(contactMediumForm, 'homePhone')) {
        <div class="text-red-500 text-sm mt-1 ml-4">
          @if (contactMediumForm.get('homePhone')?.hasError('pattern')) {
          <small>Please enter a valid homephone.</small>
          } @else if ((contactMediumForm.get('homePhone')?.hasError('minlength')) ||
          (contactMediumForm.get('homePhone')?.hasError('maxlength'))) {
          <small>Home Phone must be 10 charachers.</small>
          }
        </div>
        }
      </div>

      <div>
        <!-- YENİ: Etiketi ve radyo butonu sarmalayan div -->
        <div class="flex items-center mb-1">
          <input
            type="radio"
            formControlName="primaryContact"
            value="mobilePhone"
            id="primary-mobile"
            class="h-4 w-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 cursor-pointer"
          />
          <label for="primary-mobile" class="block text-sm font-medium text-gray-400 ml-2 cursor-pointer"
            >Mobile Phone *</label
          >
          <!-- YENİ: Birincil ise etiketi göster -->
          @if (contactMediumForm.get('primaryContact')?.value === 'mobilePhone') {
          <span class="text-orange-500 font-bold ml-2 text-xs">[Primary]</span>
          }
        </div>

        <div
          class="flex items-center w-full bg-gray-200 rounded-full border border-gray-400 focus-within:ring-2 focus-within:ring-blue-500 overflow-hidden"
        >
          <select
            id="mobile-prefix"
            class="bg-gray-200 text-gray-900 pl-4 pr-2 py-3 appearance-none focus:outline-none"
          >
            <option>+90</option>
            <option>+44</option>
          </select>
          <span class="text-gray-500">|</span>
          <input
            type="tel"
            formControlName="mobilePhone"
            id="mobile-phone"
            class="w-full bg-gray-200 text-gray-900 px-4 py-3 border-none focus:outline-none"
          />
        </div>
        @if (isFieldInvalid(contactMediumForm, 'mobilePhone')) {
        <div class="text-red-500 text-sm mt-1 ml-4">
          @if (contactMediumForm.get('mobilePhone')?.hasError('required')) {
          <small>Mobile phone is required.</small>
          } @else if (contactMediumForm.get('mobilePhone')?.hasError('pattern')) {
          <small>Please enter a valid mobile phone.</small>
          } @else if ((contactMediumForm.get('mobilePhone')?.hasError('minlength')) ||
          (contactMediumForm.get('mobilePhone')?.hasError('maxlength'))) {
          <small>Mobile Phone must be 10 charachers.</small>
          }
        </div>
        }
      </div>

      <div>
        <label for="fax" class="block text-sm font-medium text-gray-400 mb-1">Fax</label>
        <div
          class="flex items-center w-full bg-gray-200 rounded-full border border-gray-400 focus-within:ring-2 focus-within:ring-blue-500 overflow-hidden"
        >
          <select
            id="fax-prefix"
            class="bg-gray-200 text-gray-900 pl-4 pr-2 py-3 appearance-none focus:outline-none"
          >
            <option>+90</option>
            <option>+44</option>
          </select>
          <span class="text-gray-500">|</span>
          <input
            type="tel"
            formControlName="fax"
            id="fax"
            class="w-full bg-gray-200 text-gray-900 px-4 py-3 border-none focus:outline-none"
          />
        </div>
        @if (isFieldInvalid(contactMediumForm, 'fax')) {
        <div class="text-red-500 text-sm mt-1 ml-4">
          @if (contactMediumForm.get('fax')?.hasError('pattern')) {
          <small>Please enter a valid fax.</small>
          } @else if ((contactMediumForm.get('fax')?.hasError('minlength')) ||
          (contactMediumForm.get('fax')?.hasError('maxlength'))) {
          <small>Fax Number must be 10 charachers.</small>
          }
        </div>
        }
      </div>
    </div>

    <div class="flex items-center justify-between mt-12">
      <button
        type="button"
        (click)="onPrevious()"
        class="bg-gray-200 text-gray-900 font-bold py-3 px-10 rounded-full hover:bg-gray-300 transition-colors text-lg cursor-pointer"
      >
        Previous
      </button>
      <button
        type="submit"
        class="bg-gray-200 text-gray-900 font-bold py-3 px-10 rounded-full hover:bg-gray-300 transition-colors text-lg cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed"
      >
        Create
      </button>
    </div>
  </form>
</fieldset>