<header class="bg-[#1E1C3A] text-gray-300 p-4 flex justify-between items-center shadow-md z-10">
  <div class="flex items-center">
    <img src="/assets/etiyalogo.png" alt="Etiya Logosu" class="h-16 mr-4" />
   <span class="text-white font-bold text-2xl tracking-wide">ETIYA</span>
  </div>
  <div class="flex items-center space-x-6">
    <span class="text-white font-medium text-lg">TR</span>
    <div class="text-right">
      <div class="text-sm text-white">Customer Relations</div>
      <div class="text-xs text-gray-400">Department</div>
    </div>
    <div class="flex items-center space-x-3">
      <span class="p-2 bg-gray-600 rounded-full"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6 text-white"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z"
          /></svg></span
      ><span class="text-white font-medium text-lg">
{{ authService.userState().user?.firstname }}
      </span>
    </div>
  </div>
</header>
